*.sln
*.userprefs
*.csproj
*.pidb
*.unityproj
.DS_Store
/sources/Library/FailedAssetImports.txt
/sources/Library/cache/
/sources/Library/previews/
/sources/Library/ScriptAssemblies
/sources/obj
/sources/Temp
/sources/Library/AssetServerCacheV3
/sources/Library/InspectorExpandedItems.asse
/sources/Library/assetDatabase3
/sources/Library/guidmapper