*.sln
*.userprefs
*.csproj
*.pidb
*.unityproj
*.psd
.DS_Store
/sources/Library/FailedAssetImports.txt
/sources/Library/cache/
/sources/Library/previews/
/sources/Library/ScriptAssemblies
/sources/obj
/sources/Temp
*AssetServerCacheV3
/sources/Library/assetDatabase3
InspectorExpandedItems.asse
assetDatabase3
guidmapper
*InspectorExpandedItems.asse
*assetDatabase3
*guidmapper
